codigo_final/flow_node-red.json
[{"id":"bfe10d74.1cf73","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f0997aad.42438","type":"noraf-speaker","z":"bfe10d74.1cf73","devicename":"persiana","roomhint":"","name":"","passthru":true,"step":5,"nora":"3f178c20.482b74","topic":"","twofactorpin":"","x":300,"y":160,"wires":[["6626f11f.cacdc8"]]},{"id":"f717d384.be1c18","type":"noraf-light","z":"bfe10d74.1cf73","devicename":"controle manual","lightcolor":false,"brightnesscontrol":true,"commandonlycolor":false,"turnonwhenbrightnesschanges":false,"passthru":true,"errorifstateunchaged":false,"statepayload":true,"brightnessoverride":"","roomhint":"","name":"","colortype":"hsv","nora":"3f178c20.482b74","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","temperaturemin":"2700","temperaturemax":"5500","twofactorpin":"","x":290,"y":260,"wires":[["2fddbfc1.7de81"]]},{"id":"6626f11f.cacdc8","type":"function","z":"bfe10d74.1cf73","name":"","func":"if(global.get(\"valor_anterior\")==undefined)\n{\n global.set(\"valor_anterior\",msg.payload.brightness);\n}\n \n msg.payload.brightness=msg.payload.volume;\n let valor_anterior=global.get(\"valor_anterior\");\n let count=0;\n  \nif(msg.payload.on)\n{   \n    global.set(\"manual\",true);\n    count= global.get(\"count\");\n    count+=1; //se estiver + q 1, é pq ja estava ligado\n}else{\n    global.set(\"manual\",false);\n    global.set(\"count\",0);\n   \n}\n\nif(msg.payload.on  && count==1)\n{\n    msg.payload.codigo_evento = 4; // entrada modo manual\n}\n\n\nelse if(msg.payload.volume<valor_anterior)\n{\n   msg.payload.codigo_evento=7; //fechamento manual   \n}\nelse if(msg.payload.volume>valor_anterior)\n{\n    msg.payload.codigo_evento=6; //fechamento manual   \n}\n\nelse if(!msg.payload.on)\n{\n msg.payload.codigo_evento=5; //saida do modo manual\n}\n\n global.set(\"valor_anterior\",msg.payload.volume);\n global.set(\"count\",count);\n \nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:msg.payload.volume,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\nmsg.eventOrCommandType = 'comandoVoz';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["5a4efa48.27b374","690b1736.b20c68"]]},{"id":"2fddbfc1.7de81","type":"function","z":"bfe10d74.1cf73","name":"","func":"if(global.get(\"valor_anterior\")==undefined)\n{\n global.set(\"valor_anterior\",msg.payload.brightness);\n}\n \n\n let valor_anterior=global.get(\"valor_anterior\");\n let count=0;\n  \nif(msg.payload.on)\n{   \n    global.set(\"manual\",true);\n    count= global.get(\"count\");\n    count+=1; //se estiver + q 1, é pq ja estava ligado\n}else{\n    global.set(\"manual\",false);\n    global.set(\"count\",0);\n   \n}\n\nif(msg.payload.on  && count==1)\n{\n    msg.payload.codigo_evento = 4; // entrada modo manual\n}\n\nelse if(!msg.payload.on)\n{\n msg.payload.codigo_evento=5; //saida do modo manual\n}\n\nelse if(msg.payload.brightness<valor_anterior)\n{\n   msg.payload.codigo_evento=7; //fechamento manual   \n}\nelse if(msg.payload.brightness>valor_anterior)\n{\n    msg.payload.codigo_evento=6; //fechamento manual   \n}\n\n global.set(\"valor_anterior\",msg.payload.brightness);\n global.set(\"count\",count);\n\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:msg.payload.brightness,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\n\nmsg.eventOrCommandType = 'comandoManual';\nmsg.payload.volume = msg.payload.brightness\ndelete msg.payload.brightness\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["5a4efa48.27b374","690b1736.b20c68"]]},{"id":"5a4efa48.27b374","type":"ibmiot out","z":"bfe10d74.1cf73","authentication":"apiKey","apiKey":"a07da900.e1d2e8","outputType":"cmd","deviceId":"001","deviceType":"ESP32","eventCommandType":"comando","format":"json","data":"{\"data\":\"data\"}","qos":0,"name":"IBM IoT","service":"registered","x":1420,"y":280,"wires":[]},{"id":"7a48cce7.e0feac","type":"change","z":"bfe10d74.1cf73","name":"Direciona pro painel","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Home_Group1\"],\"show\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\",\"Home_Controle\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["4712a712.7d652"]]},{"id":"255f58a5.9249e","type":"switch","z":"bfe10d74.1cf73","name":"Redireciona pós login","property":"payload.authentication","propertyType":"msg","rules":[{"t":"regex","v":"correto","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":682.5,"y":562.25,"wires":[["7a48cce7.e0feac","5244ca57.79882c","16cf5677.fa1eca"],[]]},{"id":"57d344f6.18d0cc","type":"function","z":"bfe10d74.1cf73","name":"checkLogin","func":"if(msg.payload.login == 'teste'  && msg.payload.password == 'teste')\n{\n    \n   msg.payload.authentication = 'correto'\n    return msg;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":560,"wires":[["255f58a5.9249e"]]},{"id":"602262d0.a58654","type":"comment","z":"bfe10d74.1cf73","name":"Formulario de Login","info":"Formulario contendo os campo de de usuario e senha \npara autenticação.\n\nSe login correto: manda comando para o UI_CONTROL \n    esconder o formulário e mostrar os controles\n    dos relés;\n    \nSe login incorreto: apenas limpa o formulário;\n","x":559,"y":522.25,"wires":[]},{"id":"4e2a2ef1.9861f","type":"ui_form","z":"bfe10d74.1cf73","name":"formlogin","label":"","group":"8fe0fdce.e3b5a","order":2,"width":"0","height":"0","options":[{"label":"Login","value":"login","type":"text","required":true,"rows":null},{"label":"Senha","value":"password","type":"password","required":true,"rows":null}],"formValue":{"login":"","password":""},"payload":"","submit":"Login","cancel":"Cancel","topic":"","x":215.5,"y":562.25,"wires":[["57d344f6.18d0cc","a91fb6b2.7d7898"]]},{"id":"4712a712.7d652","type":"ui_ui_control","z":"bfe10d74.1cf73","name":"","events":"change","x":1150,"y":580,"wires":[["29cc520b.c64586"]]},{"id":"7b75eb1e.a953d4","type":"ui_numeric","z":"bfe10d74.1cf73","name":"","label":"Horario de abertura","tooltip":"","group":"a9966e7d.25128","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"24","step":1,"x":560,"y":760,"wires":[["e3818610.1a73d"]]},{"id":"a089b31d.2bcb9","type":"ui_numeric","z":"bfe10d74.1cf73","name":"","label":"Horario de fechamento","tooltip":"","group":"c14f6cbe.e9dab","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"24","step":1,"x":560,"y":840,"wires":[["d98808a.4ce32f8"]]},{"id":"973d71fb.72c468","type":"ui_button","z":"bfe10d74.1cf73","name":"Logout","group":"378cd8f2.523f88","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\",\"Home_Controle\"],\"show\":[\"Home_Group1\"]}}","payloadType":"json","topic":"","x":1000,"y":660,"wires":[["4712a712.7d652","7c883dea.b997d4"]]},{"id":"8022a359.4e5db","type":"ui_ui_control","z":"bfe10d74.1cf73","name":"","events":"change","x":1310,"y":440,"wires":[[]]},{"id":"ed66acc0.2a6af8","type":"change","z":"bfe10d74.1cf73","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\",\"Home_Controle\"],\"show\":[\"Home_Group1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":440,"wires":[["8022a359.4e5db"]]},{"id":"241be176.bd7c7e","type":"inject","z":"bfe10d74.1cf73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":440,"wires":[["29cc520b.c64586"]]},{"id":"1330091a.d2e3e7","type":"switch","z":"bfe10d74.1cf73","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":440,"wires":[[],["ed66acc0.2a6af8"]]},{"id":"29cc520b.c64586","type":"function","z":"bfe10d74.1cf73","name":"","func":"var change = flow.get('change') || null;\nif(change === 'change' || msg.payload === 'change'){\n    flow.set('change','change');\n    msg.payload = 'change';\n    return msg\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["1330091a.d2e3e7"]]},{"id":"e255b8db.3481e8","type":"ui_button","z":"bfe10d74.1cf73","name":"","group":"e1eefac3.f877e","order":0,"width":0,"height":0,"passthru":false,"label":"Confirmar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":920,"wires":[["41e6d121.01404"]]},{"id":"b963fe0b.fee328","type":"ui_button","z":"bfe10d74.1cf73","name":"","group":"e1eefac3.f877e","order":0,"width":0,"height":0,"passthru":false,"label":"Cancelar os horarios programados","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":980,"wires":[["6fc18734.167cb8"]]},{"id":"e3818610.1a73d","type":"function","z":"bfe10d74.1cf73","name":"","func":"flow.set('Abertura',msg.payload)\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":750,"y":760,"wires":[]},{"id":"d98808a.4ce32f8","type":"function","z":"bfe10d74.1cf73","name":"","func":"flow.set('Fechamento',msg.payload)\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":750,"y":840,"wires":[]},{"id":"41e6d121.01404","type":"function","z":"bfe10d74.1cf73","name":"","func":"var abertura = flow.get('Abertura');\nvar fechamento = flow.get('Fechamento');\n\nif(fechamento<abertura){\n    msg.err = 'A hora de fechamento tem que ser maior do que a de abertura'\n    msg.validate = 'invalido'\n    return msg\n}\nif(fechamento === abertura){\n    msg.err = 'A hora de fechamento não pode ser igual a de abertura'\n    msg.validate = 'invalido'\n    return msg\n}\n\n\nmsg.payload = {\n    abertura,\n    fechamento,\n    hora_atual:new Date().getHours(),\n    cancelar:false,\n   codigo_evento:11\n}\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:0,\n  horario1:msg.payload.abertura,\n  horario2:msg.payload.fechamento,\n};\nglobal.set(\"response\",resp);\n\n}\n\nmsg.err='Horario programado com sucesso'\nmsg.eventOrCommandType = 'horarioProgramado'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":920,"wires":[["bf3751e3.86208"]]},{"id":"6fc18734.167cb8","type":"function","z":"bfe10d74.1cf73","name":"","func":"\n\nmsg.payload = {\n    abertura:null,\n    fechamento:null,\n    cancelar:true,\n    codigo_evento:14\n}\nmsg.err = 'Horários cancelados com sucesso'\nmsg.eventOrCommandType = 'horarioProgramado'\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:0,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":980,"wires":[["5a4efa48.27b374","35f689c8.744cde"]]},{"id":"bf3751e3.86208","type":"switch","z":"bfe10d74.1cf73","name":"validação","property":"validate","propertyType":"msg","rules":[{"t":"eq","v":"invalido","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":920,"wires":[["97ea964c.a5d4c"],["5a4efa48.27b374","4cd75f71.538ae8"]]},{"id":"35f689c8.744cde","type":"ui_text","z":"bfe10d74.1cf73","group":"e1eefac3.f877e","order":0,"width":0,"height":0,"name":"","label":"Mensagem","format":"{{msg.err}}","layout":"col-center","x":1400,"y":920,"wires":[]},{"id":"97ea964c.a5d4c","type":"change","z":"bfe10d74.1cf73","name":"Mostrar mensagem","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Home_Erro\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":880,"wires":[["35f689c8.744cde"]]},{"id":"4cd75f71.538ae8","type":"change","z":"bfe10d74.1cf73","name":"Mostrar mensagem","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Home_Sucesso\"],\"hide\":[\"Home_Erro\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":980,"wires":[["35f689c8.744cde"]]},{"id":"92a574e8.1af628","type":"noraf-switch","z":"bfe10d74.1cf73","devicename":"Modo automático","roomhint":"","name":"","passthru":false,"errorifstateunchaged":false,"nora":"3f178c20.482b74","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","twofactor":"off","twofactorpin":"","x":290,"y":360,"wires":[["f3c325b1.43268"]]},{"id":"f3c325b1.43268","type":"function","z":"bfe10d74.1cf73","name":"","func":"if(global.get('manual')==false || global.get(\"manual\")==undefined)\n{\n\n     var resp={\n          codigo_evento:msg.payload? 0:1,\n          volume:0,\n          horario1:-1,\n          horario2:-1,\n    };\n     global.set(\"response\",resp);\n    \n        \n        \n    if(msg.payload)\n    {\n         msg.payload={codigo_evento:0}; //entrada no modo automatico\n         \n    }else{\n         msg.payload={codigo_evento:1}; //saida modo automatico\n    }\n    \n         \n    msg.eventOrCommandType = 'automatico';\n\n\n    return msg;\n}\nreturn 0;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["5a4efa48.27b374","690b1736.b20c68"]]},{"id":"a91fb6b2.7d7898","type":"debug","z":"bfe10d74.1cf73","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":680,"wires":[]},{"id":"5244ca57.79882c","type":"function","z":"bfe10d74.1cf73","name":"","func":"msg.payload={codigo_evento:8};\nmsg.eventOrCommandType = 'horarioProgramado';\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:0,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":380,"wires":[["5a4efa48.27b374"]]},{"id":"7c883dea.b997d4","type":"function","z":"bfe10d74.1cf73","name":"","func":"msg.payload={codigo_evento:9};\nmsg.eventOrCommandType = 'horarioProgramado';\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:0,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":660,"wires":[["5a4efa48.27b374"]]},{"id":"3c8aa2c9.eead26","type":"function","z":"bfe10d74.1cf73","name":"","func":"msg.payload={codigo_evento:10};\nmsg.eventOrCommandType = 'horarioProgramado';\nif(msg.payload.codigo_evento)\n{\n var resp={\n  codigo_evento:msg.payload.codigo_evento,\n  volume:0,\n  horario1:-1,\n  horario2:-1,\n};\nglobal.set(\"response\",resp);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":760,"wires":[["5a4efa48.27b374"]]},{"id":"16cf5677.fa1eca","type":"trigger","z":"bfe10d74.1cf73","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"120","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1280,"y":800,"wires":[["3c8aa2c9.eead26","973d71fb.72c468"]]},{"id":"3f7d3012.5715d8","type":"http in","z":"bfe10d74.1cf73","name":"","url":"/persiana","method":"get","upload":false,"swaggerDoc":"","x":1160,"y":80,"wires":[["a5ab52ce.f128c8"]]},{"id":"c7114c10.7e99","type":"http response","z":"bfe10d74.1cf73","name":"","statusCode":"","headers":{},"x":1510,"y":200,"wires":[]},{"id":"db95417a.2ccb","type":"json","z":"bfe10d74.1cf73","name":"","property":"payload","action":"","pretty":false,"x":1430,"y":80,"wires":[["c7114c10.7e99"]]},{"id":"690b1736.b20c68","type":"debug","z":"bfe10d74.1cf73","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"a5ab52ce.f128c8","type":"function","z":"bfe10d74.1cf73","name":"","func":"var response=global.get(\"response\") || {\"data\":\"no data\"};\nmsg.payload=response;\nmsg.payload.hora_atual=new Date().getHours();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":140,"wires":[["db95417a.2ccb"]]},{"id":"3f178c20.482b74","type":"noraf-config","name":"Casa","group":"","twofactor":"off","twofactorpin":"","localexecution":true,"structure":"Casa"},{"id":"a07da900.e1d2e8","type":"ibmiot","name":"Sender","keepalive":"60","serverName":"nyvrst.messaging.internetofthings.ibmcloud.com","cleansession":false,"appId":"","shared":false},{"id":"8fe0fdce.e3b5a","type":"ui_group","name":"Group1","tab":"2d50b6c8.d0b0ca","order":2,"disp":true,"width":"6","collapse":false},{"id":"a9966e7d.25128","type":"ui_group","name":"Relay 1","tab":"2d50b6c8.d0b0ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"c14f6cbe.e9dab","type":"ui_group","name":"Relay 2","tab":"2d50b6c8.d0b0ca","order":3,"disp":true,"width":"6","collapse":false},{"id":"378cd8f2.523f88","type":"ui_group","name":"GroupLogout","tab":"2d50b6c8.d0b0ca","order":5,"disp":false,"width":"6","collapse":false},{"id":"e1eefac3.f877e","type":"ui_group","name":"Controle","tab":"2d50b6c8.d0b0ca","order":4,"disp":true,"width":"6","collapse":false},{"id":"2d50b6c8.d0b0ca","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]